@use "../asbtract/" as *;

.account {
  width: $width-percent;
  margin: auto;

  .title {
    @include flex(flex-start, space-between);
    align-self: stretch;
    font: $heading-2;
  }

  .avatar {
    position: relative;
    $var: 80px;
    height: $var;

    img {
      border-radius: 100px;
      height: $var;
      width: $var;
    }

    .blur {
      @include flex(center, center);
      width: 100%;
      height: calc($var / 2);
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      border-radius: 0px 0px 100px 100px;
      cursor: pointer;
    }
  }

  .wrapper {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    align-self: stretch;

    .row {
      @include flex(center, flex-start);
      align-self: stretch;
      padding: 20px 12px;
      gap: 20px;
      border-top: solid 1px $dove;

      &__title {
        font: $body-2-bold;
        flex: 1;
        flex-wrap: wrap;
      }

      &__content {
        @include flex(center, flex-start);
        color: $dark-grey;
        padding-right: 20%;
        flex: 4;

        .column {
          @include flex(flex-start, flex-start);
          flex-direction: column;
          flex: 1;
          gap: 8px;

          .input {
            @include flex(flex-start, flex-start);
            flex-direction: column;
            width: 100%;

            .label {
              @include flex(center, flex-start);
              flex-direction: row;
              padding: 0px 4px;
              gap: 4px;
              align-self: stretch;
              color: $dark-blue;
              margin-bottom: 2px;
              font-weight: 600;

              .require {
                color: $red;
              }
            }

            input {
              border-radius: 8px;
              border: 1px solid $dove;
              padding: 16px 12px;
              width: 50%;
            }

            .error {
              font: $caption;
              color: $red;
              margin: 4px;
            }
          }
        }

        &.two-inputs {
          flex-direction: row;
          gap: 20px;
        }

        &.one-input {
          align-self: stretch;
        }

        &.half {
          width: 50%;
        }

        input {
          font: $body-2;
          border-color: transparent;
          padding: auto;
          flex: 1;

          &:focus {
            outline: none;
          }
        }

        &.two-texts {
          padding-right: 0px;
          @include flex(center, space-between);
          gap: 20px;

          .text {
            color: $cyan;
            font-weight: 600;
            cursor: pointer;
            @include flex(center, center);
            gap: 20px;
            flex-direction: column;
          }
        }

        .warning {
          font: $heading-5;
          color: $red;
          @include flex(center, center);
          flex: 1;
          flex-direction: column;

          span {
            margin-top: 12px;
            color: $dark-grey;
            font: $body-2;
          }
        }
      }

      .item {
        @include flex(flex-start, flex-start);
        flex-direction: column;
        gap: 8px;
        flex: 1;

        &.half {
          width: 50%;
          flex: 0;
        }

        &__label {
          @include flex(center, flex-start);
          flex-direction: row;
          padding: 0px 4px;
          gap: 4px;
          align-self: stretch;
          color: $dark-blue;
          margin-bottom: 2px;
          font-weight: 600;

          .require {
            color: $red;
          }
        }

        input {
          align-items: center;
          padding: 12px 16px;
          border-radius: 4px;
          border: 1px solid rgba(120, 120, 120, 0.5);
          align-self: stretch;
          background: $white;
          font: $body-2;
        }

        &__description {
          color: $dark-grey;
          font: $caption;
          margin-left: 2px;

          &.error {
            color: $red;
          }
        }

        .dropdown {
          @include flex(center, space-between);
          align-items: center;
          padding: 2px;
          padding-right: 16px;
          border-radius: 4px;
          border: 1px solid rgba(120, 120, 120, 0.5);
          align-self: stretch;
          background: $white;
          font: $body-2;
          cursor: pointer;
          position: relative;

          &:focus-within {
            box-shadow: inset 0px 0px 0px 2px black;
          }

          input {
            font: $body-2;
            flex-direction: row;
            position: relative;
            border-color: transparent;
            padding: 0px;
            cursor: pointer;
            padding: 10px 0px 10px 14px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  .flex-end {
    @include flex(center, flex-end);
    align-self: stretch;
  }
}

// .ant-select-single {
//   @include flex(center, space-between);
//   border-radius: 4px;
//   border: 1px solid rgba(120, 120, 120, 0.5);
//   align-self: stretch;
// }

// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//   @include flex(center, space-between);
//   padding: 12px 16px;
//   background: $white;
//   font: $body-2;
//   height: fit-content;
// }

// .ant-select-dropdown .ant-select-item {
//   font: $body-2;
//   padding: 8px;
//   border-radius: 0px;

//   &:first-of-type {
//     border-radius: 8px 8px 0px 0px;
//   }
//   &:last-of-type {
//     border-radius: 0px 0px 8px 8px;
//   }
// }
// .ant-select-dropdown
//   .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
//   background-color: $light-blue-2;
// }
// .ant-select-selection-search {
//   height: fit-content;
// }
