@use "../asbtract/" as *;

.booking-history {
  width: $width-percent;
  margin: auto;

  .search-bar {
    @include flex(center, center);
    gap: 20px;
    margin-top: 40px;

    &__input-wrapper {
      @include flex(flex-start, center);
      flex-direction: row;
      gap: 2px;
      border-radius: 12px;
      border: 1px solid $dove;
      background: $light-grey;
      border-radius: 12px;

      &__item {
        @include flex(flex-start, center);
        flex-direction: column;
        padding: 16px 20px;
        gap: 4px;
        cursor: pointer;

        &__label {
          text-transform: uppercase;
          font-size: 18px;
          font-family: $inter-font;
        }

        input {
          color: $dark-grey;
          border: none;
          padding: 8px;
          padding-left: 0px;
          background-color: transparent;
          font: $body-2;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .sort {
    @include flex(center, center);
    align-self: stretch;
    position: relative;

    &__title {
      font: $heading-5;
      position: absolute;
      left: 0;
    }

    &__wrapper {
      @include flex(center, center);
      gap: 20px;

      &__item {
        @include flex(center, center);
        padding: 8px 20px;
        background-color: transparent;
        color: $dark-grey;
        font: $body-2;
        border-radius: 50px;

        &.selected,
        &:hover {
          background-color: $dark-blue;
          color: $white;
        }
      }
    }
  }

  .list {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
  }
}
