@use "../asbtract/" as *;

.button {
  cursor: pointer;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1.6rem;
  font-weight: 600;
  @include flex(center, flex-start);
  gap: 8px;

  &.cyan {
    background-color: $cyan;
    color: $white;
  }

  &.no-background {
    background-color: transparent;
    color: $cyan;
  }

  &.shadow {
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  }
}
