@use "../asbtract/" as *;

.header {
  z-index: 100;
  width: 100%;
  height: $header-height;
  border-bottom: 1px solid #dbe1ee;
  background-color: transparent;

  &__container {
    width: 68%;
    height: 100%;
    margin: auto;
    @include flex(unset, unset);
  }

  &__logo {
    flex: 1;
    @include flex(center, left);
  }
  &__menu {
    flex: 2;
    @include flex(center, center);

    &__item {
      padding: 12px;
      color: $dark-grey;
      cursor: pointer;

      &.active {
        font-weight: 700;
        color: $dark-blue;

        .line {
          width: 30px;
          height: 1.5px;
          margin: auto;
          background-color: $cyan;
        }
      }
    }
  }

  &__login-signup {
    flex: 1;
    @include flex(center, right);
    gap: 20px;
  }
}
