@use "../asbtract/" as *;

.side-menu {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  flex: 1;
  padding: 4px;
  border-radius: 20px;
  border: 1px solid $dove;
  background: $white;

  a {
    align-self: stretch;
  }

  .item {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    align-self: stretch;
    font: $heading-5;
    cursor: pointer;

    &:first-of-type {
      border-radius: 12px 12px 0px 0px;
    }

    &:last-of-type {
      border-radius: 0px 0px 12px 12px;
    }

    &:hover {
      color: $blue;
    }

    &.selected {
      color: $blue;
      background: $light-grey;
    }
  }
}

.two-contents {
  @include flex(flex-start, flex-start);
  gap: 32px;
  margin-top: 60px;
}

.side-main {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 32px;
  flex: 4;
}
