@use "../../../asbtract/" as *;

.results-roomlist-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;


	&__item{
		display: flex;
		width: 32px;
		height: 32px;
		padding: 12px;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		border-radius: 50px;

		cursor: pointer;
		&.selected{
			background: $light-blue-2;
		}
	}
	&__show-next-btn{
		display: flex;
		width: 24px;
		height: 24px;
		transform: rotate(-90deg);
		padding: 4px;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		cursor: pointer;

		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
	}
	&__show-prev-btn{
		display: flex;
		width: 24px;
		height: 24px;
		transform: rotate(-90deg);
		padding: 4px;
		justify-content: center;
		align-items: center;
		border-radius: 50px;
		cursor: pointer;
		
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
}
}