@use "../../../asbtract/" as *;

.results-roomlist{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &__map{
        width: 100%;
        height: 120px;
        background: url(../../../../assets/images/BasemapImage.png);
        background-size: contain;

        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;

        position: relative;

        &__button{
            width: 226px;
            height: 48px;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 500;
            margin: auto;
            transform: translateY(52px);
            -webkit-transform: translateY(52px);
            -moz-transform: translateY(52px);
            -ms-transform: translateY(52px);
            -o-transform: translateY(52px);
        }
    }

    &__header{
        width: fit-content;
        margin: auto;
        span{
            color: $dark-blue;
            font-size: 28px;
            font-family: Inter;
            font-weight: 700;
        }
        p{
            color: var(--dark-blue, #272B4E);
            font-size: 24px;
            font-family: Quicksand;
            font-weight: 600;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        align-self: stretch;

        &__sort{
            display: flex;
            flex-direction: row;
    
            align-items: center;
            flex: 1 1;
    
            gap: 117px;
    
            &__header{
                color: $dark-blue;
    
                font-size: 20px;
                font-family: Inter;
                font-weight: 700;
            }
    
            &__items{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 1 1;
    
                gap: 20px;
            }
        }
        &__rooms{
            display: flex;
            padding: 0px 0px 20px 0px;
            flex-direction: column;
            gap: 60px;
            align-self: stretch;

            &__roomitems{
                display: flex;
                padding: 0px 0px 20px 0px;
                flex-direction: row;
                column-gap: 20px;
                row-gap: 40px;
                align-self: stretch;
                flex-wrap: wrap;
            }
        }
    }
    
}