@use "../../../asbtract/" as *;

.results-roomlist{
    

    &__map{
        width: 100%;
        height: 120px;
        background-color: gray;

        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;

        position: relative;

        &__button{
            width: 226px;
            height: 48px;
            font-size: 16px;
            font-family: Roboto;
            font-weight: 500;
            margin: auto;
            transform: translateY(52px);
            -webkit-transform: translateY(52px);
            -moz-transform: translateY(52px);
            -ms-transform: translateY(52px);
            -o-transform: translateY(52px);
        }

        &__header{
            width: fit-content;
            margin: 40px auto;
            span{
                color: var(--dark-blue, #272B4E);
                font-size: 28px;
                font-family: Inter;
                font-weight: 700;
            }
            p{
                color: var(--dark-blue, #272B4E);
                font-size: 24px;
                font-family: Quicksand;
                font-weight: 600;
            }
        }
        
    }
}