$cyan: #00c1fd;
$dark-blue: #272b4e;
$blue: #3642ab;
$dark-grey: #787878;
$light-blue-1: #fbfdff;
$light-blue-2: #f0f6ff;
$dove: #dbe1ee;
$red: #d23434;
$light-blue: #f8efe8;
$white: #ffffff;

$inter: "Inter", sans-serif;

$header-height: 80px;

$width-percent: 68%;
