$cyan: #00c1fd;
$dark-blue: #272b4e;
$blue: #3642ab;
$dark-grey: #787878;
$light-grey: #f7f7f9;
$light-blue-1: #fbfdff;
$light-blue-2: #f0f6ff;
$light-blue-3: #ffffff60;
$dove: #dbe1ee;
$red: #d23434;
$light-red: #f8efe8;
$white: #ffffff;
$green: #268D2A;

$inter-font: "Inter", sans-serif;
$quicksand-font: "Quicksand", sans-serif;

$heading-1: bold 40px $inter-font;
$heading-2: bold 36px $inter-font;
$heading-3: bold 28px $inter-font;
$heading-4: bold 24px $inter-font;
$heading-5: bold 20px $inter-font;
$body-1: normal 15px $quicksand-font;
$body-2: normal 16px $inter-font;
$body-2-bold: bold 16px $inter-font;
$caption: normal 14px $inter-font;

$header-height: 80px;

$width-percent: 68%;
