@use "../../asbtract/" as *;

.results__filter__checkbox-filter{
	color: $dark-blue;
	width: 100%;

	margin-bottom: 40px;
	
	&__header{
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 20px;
		display: flex;
		align-self:baseline;
		width: 100%;
		&__text{
			width: 100%;
		}
	}

	&__content{
		&__btn-select-all{
			font-size: 18px;

			.ant-checkbox-input{
				width: 18px;
				height: 18px;
			}
			.ant-checkbox-inner{
				width: 18px;
				height: 18px;
			}
			.ant-checkbox-inner::after {
				width: 9px;
				height: 12px;
			 }
		}
		
	}
	.btn-hide-content-filter{
		width: fit-content;
		height: 18px;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;
		display: flex;
		align-items: center;

		color: $cyan;

		padding-top: 10px;

		cursor: pointer;
	}
}

.filter-remove-choice-btn{
	width: 35px;
	height: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: $cyan;
	align-self: center;

	cursor: pointer;
}