@use "../../asbtract/" as *;

.register-container {
	width: 100wh;
	height: 100vh;
	max-height: 100vh;

	display: flex;
	.register-content {
		width: 50%;
		height: 100%;
		padding-top: 5vh;
		padding-left: 18.75%;

		overflow-y: auto;

		.register-content-container{
			width: 25vw;

			.register-content__back-btn{
				display: inline-flex;
				justify-content: center;
				align-items: center;
				gap: 12px;

				color: $dark-blue;
				font-size: 24px;
				font-family: Inter;
				font-style: normal;
				font-weight: 700;
				line-height: normal;

				margin-bottom: 4vh;
			}

			.register-content__register-form{
				&__title{
					color: dark-blue;
					font-size: 40px;
					font-family: Inter;
					font-style: normal;
					font-weight: 700;
					line-height: normal;

					margin-bottom: 5.5vh;
				}
				&__input-fields{
					margin-bottom: 3vh;

					.register-input-txb{
						display: flex;
						flex-direction: column;
						gap: 1vh;

						margin-bottom: 3.5vh;

						&__title{
							color: dark-blue;
							font-size: 16px;
							font-family: Quicksand;
							font-style: normal;
							font-weight: 700;
							line-height: 16px;
							
							padding-left: 4px;
						}

						.ant-input{
							width: 100%;
							height: 4vh;
							font-size: 16px;
							font-weight: 400;
						}

						&__more-infor{
							color: dark-grey;
							font-size: 14px;
							font-family: Inter;
							font-style: normal;
							font-weight: 600;
							line-height: 24px;

							
							padding-left: 4px;
						}
					}
				}
				&__footer{
					.ant-btn{
						width: 100%;
						height: 4.25vh;
						border-radius: 8px;
						
						box-shadow: 1px 1px 6px 0px rgba(0, 193, 253, 0.32);

						font-size: 20px;
						font-family: Inter;
						font-style: normal;
						font-weight: 700;
						line-height: 24px;

						margin-bottom: 1vh;

						&.ant-primary-btn{
							background: $cyan;
						}
						&.ant-default-btn{
							color: $cyan;
							font-size: 16px;
							font-family: Inter;
							font-style: normal;
							font-weight: 500;
							line-height: 24px;
						}
					}
					.register-term-and-con{
						color: $dark-blue;
						font-size: 12px;
						font-family: Inter;
						font-style: normal;
						font-weight: 400;
						line-height: 16px;

						margin-bottom: 2vh;

						.span-blue{
							color: $blue;
							cursor: pointer;

							&.underline{
								text-decoration: underline;
							}
						}
					}
					.register-content__devider{
						display: flex;
						width: 100%;
						justify-content: center;
						align-items: center;
						gap: 6px;

						color: $dark-grey;
						font-size: 14px;
						font-family: Quicksand;
						font-style: normal;
						font-weight: 500;
						line-height: 16px;

						margin-bottom: 2vh;

						&__line{
							width: 100%;
							height: 1px;
							background: #DBE1EE;

							&.outside{
								margin-bottom: 2vh;
							}
						}
					}
					.register-content__other-signup-methods{
						display: flex;
						width: 100%;
						align-items: center;
						justify-content: space-between;
						gap: 1.5vw;
						
						cursor: pointer;

						margin-bottom: 2vh;

						.register-content__signup-btn{
							width: 1.5vw;
							display: flex;
							padding: 12px 16px;
							justify-content: center;
							align-items: flex-start;
							gap: 16px;
							flex: 1 0 0;

							border-radius: 8px;
							border: 1px solid $cyan;

							color: var(--blue, #1726AC);

							font-size: 16px;
							font-family: Inter;
							font-style: normal;
							font-weight: 500;
							line-height: 24px;
						}
					}
				}
			}
		}
	}
	.banner-right {
		width: 50%;
		height: 100%;
		background: url('https://s3-alpha-sig.figma.com/img/391b/39ab/a4e8d5a370667350ff785843fd317545?Expires=1688947200&Signature=gBq0uxhgTFPhjbhyuSG~cs0YEMvG3GwI-o3MASLB-DLgCeFANffF7WDo3FiDYmcwzenJzoGMpL2IWI8zxk9afIs5XUWNlUKlVvE9vA2Q~h8Wf37kzoLsEs2tKzAkZzmdZvuX~ecyL9HGkY9sdLAGJzai~g7y3G207fZaeE9WrWGHIrByHMOqQQn4zyapwcqX-VDoMw47d-wFw8qXJ2d8mnLAyfmw3OJFGuXc6VxP8Ki9JaNRaq-5f~BnEkIA-1iaXBBVx~MQLfnXNEoE4AMuqdvfxezJ8sTAPPJlv7YYl1vUiTDHMt9L99yuVXO3CxVUlKcwpR0lRPDpRfHqMSiPew__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
		background-repeat: no-repeat;
		background-size: cover;
	}
  }